openapi: 3.1.0
info:
  title: Cloudbeds REST API v1.3 Access Token GetGuest API
  description: 'Cloudbeds REST API for property management - reservations, guests, rooms,

    rate plans, payments, housekeeping, webhooks, and reporting. v1.3 is the

    current documented version (v1.2 remains available). Authentication is via

    API keys or OAuth 2.0 for technology partners.

    '
  version: 1.3.0
servers:
- url: https://hotels.cloudbeds.com/api/v1.3
  description: Cloudbeds REST API v1.3
- url: https://hotels.cloudbeds.com/api/v1.2
  description: Cloudbeds REST API v1.2 (legacy)
security:
- apiKey: []
- oauth2:
  - read
  - write
tags:
- name: GetGuest
paths:
  /getGuest:
    get:
      summary: Get guest
      parameters:
      - name: guestID
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Guest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Guest'
      tags:
      - GetGuest
components:
  schemas:
    Guest:
      type: object
      properties:
        guestID:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        phone:
          type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-KEY
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://hotels.cloudbeds.com/api/v1.2/oauth
          tokenUrl: https://hotels.cloudbeds.com/api/v1.2/access_token
          scopes:
            read: Read access
            write: Write access
